.projects > p{
    margin:32px 32px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 12px 12px;
    height: fit-content;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
}
